# Exclude all files from target directory
target/

# Exclude all idea related project files
.idea/
*.iml
*.ipr
*.iws

# Exclude all Eclipse related project files
.settings/
.project
.classpath

# Exclude other generated items
test-output/
.DS_Store
.checkstyle
.pmd
.pmdruleset.xml


**/tempCodeRunnerFile*

**/.cache/
*/.serverless/
*/node_modules/

*/.coverage
**/htmlcov
